<% if (blogs && blogs.length > 0) { %>
 <!-- :: Blog -->
 <section class="blog py-100-70">
  <div class="container">
      <div class="sec-title home-3">
          <div class="row">
              <div class="col-lg-5">
                  <h2>Recent Articles</h2>
                  <h3>Read All News & Insights</h3>
              </div>
              <div class="col-lg-5 d-flex align-items-center">
                  <p class="sec-explain">Stay updated with the latest news, achievements, and announcements from Magic Global Ventures.
                    Explore our blogs, industry articles, and event highlights as we continue expanding our global trade and industrial network.</p>
              </div>
          </div>
      </div>
      <div class="row">

        <% blogs.slice(0, 3).forEach((item, index) => { %>
          <div class="col-md-6 col-lg-4" onclick="window.location.href='/post/<%= item.seoDetails.slug %>'">
              <div class="blog-item">
                  <div class="img-box">
                      <a class='open-post' href='/post/<%= item.seoDetails.slug %>'>
                          <img class="img-fluid" src="<%= process.env.S3_BASE_URL + item.coverImage %>" alt="<%= item.title %>">
                      </a>
                  </div>
                  <div class="text-box">
                      <a class='title-blog' href='/post/<%= item.seoDetails.slug %>'>
                          <h5><%= item.title %></h5>
                      </a>
                      <span class="blog-date"><%= item.postDate %></span>
                      <div class="blog-description-clamp"><%- item.description %></div>
                      <a class='btn-1 btn-3 link' href='/post/<%= item.seoDetails.slug %>'><span>Read More</span></a>
                  </div>
              </div>
          </div>
     <% }) %>
      </div>
  </div>
</section>

<style>
    .blog-description-clamp h1, .blog-description-clamp h2, .blog-description-clamp h3, .blog-description-clamp h4, .blog-description-clamp h5, .blog-description-clamp h6{
        display: none;
    }
.blog-description-clamp, .blog-description-clamp span , .blog-description-clamp p{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}

.title-blog h5 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.blog-item .img-box img {
    height: 240px;
    object-fit: cover;
    width: 100%;
}

@media (min-width: 1000px) {
    .blog-item .img-box img {
        height: 290px;
    }
}
</style>
<% } %>