<%- include('header'), {seoDetails} %>

        
         <!-- :: Breadcrumb Header -->
         <section class="breadcrumb-header" id="page" style="background-image: url(assets/images/header/01_breadcrumb-header.jpg)">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="banner">
                            <h1>Work with us</h1>
                            <ul>
                                <li><a href='/'>Home</a></li>
                                <li><i class="fas fa-angle-right"></i></li>
                                <li>Careers</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
		
		<!-- :: Careers -->
         
<% if (jobs && jobs.length > 0) { %>
  
		<div class="careers py-100-70">
            <div class="container">
                <div class="row">
                    <% jobs.forEach(job => { %>
                    <div class="col-md-6 col-lg-4">
                        <div class="item-careers">
                            <h4><a href='/job/<%= job.seoDetails?.slug %>'><%= job.title %></a></h4>
                            <ul>
                                <li class="active"><%= job.workMode.replace('_', ' ') %></li>
                            </ul>
                            <p><%= job.subTitle %></p>
                            <a href="/job/<%= job.seoDetails?.slug %>" class="btn-1 btn-3 link"><span>Read More</span></a>
                        </div>
                    </div>
                    <% }) %>
                   
                </div>
            </div>
        </div>
        <% } %>
		

<%- include('footer') %>
