<%- include('header'), {seoDetails} %>

 
        <!-- :: Breadcrumb Header -->
        <section class="breadcrumb-header style-2" id="page" style="background-image: url(/assets/images/header/03_breadcrumb-header.jpg)">
            <div class="overlay" style="backdrop-filter: brightness(0.5);"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="banner">
                            <h1>Get in Touch</h1>
                            <ul>
                                <li><a href='/'>Home</a></li>
                                <li><i class="fas fa-angle-right"></i></li>
                                <li>contact</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
		
		<!-- :: contact us -->
		<div class="contact-us py-100">
            <div class="container">
                <div class="contact-info-content">
                    <style>
                        .contact-box .item {
                          display: flex;
                          align-items: center;
                          gap: 8px;
                          margin-bottom: 20px;
                        }
                        .contact-box .item:last-child {
                          
                          margin-bottom: 0px;
                        }
                        
                        .contact-box .item i,
                        .contact-box .item img {
                          font-size: 30px;
                          width: 30px;
                          height: 30px;
                          flex-shrink: 0;
                          margin-top: 3px;
                          margin-right: 15px;
                        }
                        
                        .contact-box .item img {
                          filter: brightness(0) saturate(100%) invert(48.6%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
                        }
                        
                        .contact-box .item a {
                          color: #555;
                          text-decoration: none;
                          transition: color 0.2s ease;
                          font-size: 14px !important;
                        }
                        
                        
                        .contact-box .item a:hover {
                          color: #e67e22;
                        }
                        </style>
                        
                        <div class="row">
                          <!-- UAE Office -->
                          <div class="col-md-6 col-lg-6">
                            <div class="contact-box">
                              <div class="box" style="text-align: left;">
                                <div class="item">
                                  <img src="/assets/images/icons/address.svg" alt="Location">
                                  <a target="_blank" href="https://www.google.com/maps/place/RAKEZ+Al+Hulaila+Industrial+Zone/@25.929254,56.052901,3699m/data=!3m1!1e3!4m6!3m5!1s0x3ef6656d56c8fdc3:0xce5e9421d77c4fd5!8m2!3d25.9292537!4d56.0529013!16s%2Fg%2F11hckbg49r?hl=en&entry=ttu&g_ep=EgoyMDI1MTAyMi4wIKXMDSoASAFQAw%3D%3D">
                                    VUNE 1327 Compass Building, Al-Hulaila Industrial Zone-FZ, Ras Al Khaimah, United Arab Emirates
                                  </a>
                                </div>
                                <div class="item">
                                  <img src="/assets/images/icons/phone.svg" alt="Phone">
                                  <a href="tel:+971501560131">+971 50 156 0131</a>
                                </div>
                                <div class="item">
                                  <img src="/assets/images/icons/email.svg" alt="Email">
                                  <a href="mailto:tech.mgvdubai@gmail.com">tech.mgvdubai@gmail.com</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        
                          <!-- India Office -->
                          <div class="col-md-6 col-lg-6">
                            <div class="contact-box">
                              <div class="box" style="text-align: left;">
                                <div class="item">
                                  <img src="/assets/images/icons/address.svg" alt="Location">
                                  <a target="_blank" href="https://www.google.com/maps/place/Magic+paints,+Rawabhata,+Industrial+Area,+Bhanpuri,+Raipur,+Chhattisgarh+493221/@21.3174099,81.6393862,958m/data=!3m2!1e3!4b1!4m6!3m5!1s0x3a28e6fe51f4649f:0x3820cb9be899e419!8m2!3d21.31741!4d81.6442518!16s%2Fg%2F11kzz8yhkg?entry=ttu&g_ep=EgoyMDI1MTAyMi4wIKXMDSoASAFQAw%3D%3D">
                                    Plot No 12, Rawabhata Industrial Area, Raipur 493221, Chhattisgarh, India
                                  </a>
                                </div>
                                <div class="item">
                                  <img src="/assets/images/icons/phone.svg" alt="Phone">
                                  <a href="tel:+919039266159">+91 90392 66159</a>
                                </div>
                                <div class="item">
                                  <img src="/assets/images/icons/email.svg" alt="Email">
                                  <a href="mailto:Shoeb@mgvdubai.com">Shoeb@mgvdubai.com</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="map-box" style="position: relative; width: 100%; height: 100%; overflow: hidden;">
                          <!-- UAE Map -->
                          <iframe
                            id="map-uae"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4469.913302176662!2d56.05169049709806!3d25.92917104634747!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ef6656d56c8fdc3%3A0xce5e9421d77c4fd5!2sRAKEZ%20Al%20Hulaila%20Industrial%20Zone!5e1!3m2!1sen!2sin!4v1761351814634!5m2!1sen!2sin"
                            width="100%"
                            height="100%"
                            style="border:0; position:absolute; top:0; left:0; transition: opacity 1s ease;"
                            allowfullscreen=""
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade">
                          </iframe>
                      
                          <!-- India Map -->
                          <iframe
                            id="map-india"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3700.1046148296897!2d81.63938621533202!3d21.31740988334619!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a28e6fe51f4649f%3A0x3820cb9be899e419!2sMagic%20Paints%2C%20Rawabhata%2C%20Industrial%20Area%2C%20Bhanpuri%2C%20Raipur%2C%20Chhattisgarh%20493221!5e1!3m2!1sen!2sin!4v1761351987567!5m2!1sen!2sin"
                            width="100%"
                            height="100%"
                            style="border:0; position:absolute; top:0; left:0; opacity:0; transition: opacity 1s ease;"
                            allowfullscreen=""
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade">
                          </iframe>
                        </div>
                      </div>
                      <script>
                        let showUAE = true;
                        const uaeMap = document.getElementById("map-uae");
                        const indiaMap = document.getElementById("map-india");
                      
                        setInterval(() => {
                          if (showUAE) {
                            uaeMap.style.opacity = "0";
                            indiaMap.style.opacity = "1";
                          } else {
                            uaeMap.style.opacity = "1";
                            indiaMap.style.opacity = "0";
                          }
                          showUAE = !showUAE;
                        }, 5000); // change every 5 seconds
                      </script>
                                            
                    <div class="col-lg-6">
						<div class="add-comments">
							<form  id="contactForm" action="/submit-contact" class="inner-add-comments form-contact-2">
								<div class="row">
									<div class="col-md-6 inner-add-comments-box">
										<input type="text" name="<%= CONTACT_ENQUIRY_DYNAMIC_FIELDS_KEYS.name %>" placeholder="Name" required="">
									</div>
									<div class="col-md-6 inner-add-comments-box">
										<input type="Email" name="<%= CONTACT_ENQUIRY_DYNAMIC_FIELDS_KEYS.email %>" placeholder="Email" required="">
									</div>
									<div class="col-md-6 inner-add-comments-box">
										<input type="text" name="<%= CONTACT_ENQUIRY_DYNAMIC_FIELDS_KEYS.address %>" placeholder="Address" required="">
									</div>
                                    <div class="col-md-6 inner-add-comments-box">
										<input type="text"type="tel" 
                                        placeholder="Contact Number" 
                                        required 
                                        name="<%= CONTACT_ENQUIRY_DYNAMIC_FIELDS_KEYS.phone %>"
                                        pattern="[0-9]{10}" 
                                        title="Please enter a valid 10-digit contact number"
                                        maxlength="10"
                                        minlength="10"
                                        oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0, 10);">
									</div>

									<div class="col-md-12 inner-add-comments-box">
										<textarea name="<%= CONTACT_ENQUIRY_DYNAMIC_FIELDS_KEYS.remarks %>"  placeholder="Your Message Here" required=""></textarea>
									</div>
									<div class="col-md-12 inner-add-comments-box last">
										<button class="btn-1 btn-3 submit" type="submit"><span>Submit</span></button>
										<span class="out-message"></span>
									</div>
								</div>
							</form>
						</div>
                    </div>
                </div>
            </div>
        </div>
		  






<script>
// Listen for form submission
document.getElementById('contactForm').addEventListener('submit', async function (e) { 
    e.preventDefault(); // Prevent the default form submission

    try {
        const API_BASE_URL = "<%= API_BASE_URL %>";
        const websiteID = "<%= websiteID %>";
        const WEBSITEIDKEY = "<%= WEBSITE_ID_KEY %>";
        const CONTACT_ENQUIRY_DYNAMIC_FIELDS_KEYS = <%- JSON.stringify(CONTACT_ENQUIRY_DYNAMIC_FIELDS_KEYS) %>;

        const CREATE_CONTACT_ENQUIRY_END_POINT = `${API_BASE_URL}/website/contact-enquiry/create-contact-enquiry`;

        const contactForm = e.target; // Reference to the form element
        const WEBSITE_ID_KEY = WEBSITEIDKEY;

        // Prepare the payload from the form fields
        const payload = {
            [CONTACT_ENQUIRY_DYNAMIC_FIELDS_KEYS.name]: contactForm.querySelector(
                `input[name="${CONTACT_ENQUIRY_DYNAMIC_FIELDS_KEYS.name}"]`
            ).value,
            [CONTACT_ENQUIRY_DYNAMIC_FIELDS_KEYS.phone]: contactForm.querySelector(
                `input[name="${CONTACT_ENQUIRY_DYNAMIC_FIELDS_KEYS.phone}"]`
            ).value,
            [CONTACT_ENQUIRY_DYNAMIC_FIELDS_KEYS.email]: contactForm.querySelector(
                `input[name="${CONTACT_ENQUIRY_DYNAMIC_FIELDS_KEYS.email}"]`
            ).value,
            [CONTACT_ENQUIRY_DYNAMIC_FIELDS_KEYS.address]: contactForm.querySelector(
                `input[name="${CONTACT_ENQUIRY_DYNAMIC_FIELDS_KEYS.address}"]`
            ).value,
            [CONTACT_ENQUIRY_DYNAMIC_FIELDS_KEYS.remarks]: contactForm.querySelector(
                `textarea[name="${CONTACT_ENQUIRY_DYNAMIC_FIELDS_KEYS.remarks}"]`
            ).value,
            [WEBSITE_ID_KEY]: websiteID,
        };

        // Set headers for the request
        const headers = new Headers({
            "Content-Type": "application/json",
        });

        // Send POST request to the API
        const response = await fetch(CREATE_CONTACT_ENQUIRY_END_POINT, {
            method: "POST",
            headers,
            body: JSON.stringify(payload),
        });

        // Handle response
        if (!response.ok) {
            throw new Error(`HTTP error! Status: ${response.status}`);
        }

        const data = await response.json();

        // Redirect to the thank-you page on success
        sessionStorage.setItem("thankYouMessage", "We've Recieved Your Message and will Contact you soon.");
        window.location.href = "/thankyou";
    } catch (error) {
        console.error("Form submission error", error);
        // Optionally, you can show an error message or log the error
    }
});

        
        </script>


<%- include('footer') %>