<!doctype html>
<html lang="en">
    <head>
        <!-- :: Required Meta Tags -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      

          <!-- SEO Meta Tags -->
    <title>
        <%= seoDetails?.title || 'Magic Global Ventures' %>
    </title>
    <meta name="description" content="<%= seoDetails?.metaDescription || '' %>">
    <meta name="keywords" content="<%= seoDetails?.keywords || '' %>">

    <!-- Open Graph meta tags for social sharing -->
    <meta property="og:title" content="<%= seoDetails?.title || '' %>">
    <meta property="og:description" content="<%= seoDetails?.metaDescription || '' %>">
    <meta property="og:image" content="<%= seoDetails?.metaImage || '' %>">
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= seoDetails?.canonical || '' %>">

    <!-- Canonical URL -->
    <link rel="canonical" href="<%= seoDetails?.canonical || '' %>">


    <link href="/assets/images/favicon.ico" rel="icon">

        <!-- :: Bootstrap CSS -->
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">

        <!-- :: Google Fonts -->
        <link rel="stylesheet" href="/css2?family=Barlow:wght@400;500;600;700&family=Heebo:wght@400;500;600;700&display=swap">

        <!-- :: Fontawesome -->
        <link rel="stylesheet" href="/assets/fonts/fontawesome/css/all.min.css">
        <!-- :: Fontawesome CDN (backup) -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <!-- :: Flaticon -->
        <link rel="stylesheet" href="/assets/fonts/flaticon/style.css">

        <!-- :: Animate -->
        <link rel="stylesheet" href="/assets/css/animate.css">
        
        <!-- :: Owl Carousel -->
        <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
        <link rel="stylesheet" href="/assets/css/owl.theme.default.min.css">
        
        <!-- :: Lity -->
        <link rel="stylesheet" href="/assets/css/lity.min.css">
        
        <!-- :: Nice Select CSS -->
        <link rel="stylesheet" href="/assets/css/nice-select.css">
        
        <!-- :: Magnific Popup CSS -->
        <link rel="stylesheet" href="/assets/css/magnific-popup.css">

        <!-- :: Style CSS -->
        <link rel="stylesheet" href="/assets/css/style.css">

        <!-- :: Style Responsive CSS -->
        <link rel="stylesheet" href="/assets/css/responsive.css">


        <link rel="stylesheet" href="/assets/css/swiper-bundle.css">
        <!--[if lt IE 9]>
                <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
                <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
            <![endif]-->
    </head>
    <body>
        <!-- :: All Navbar -->
        <header class="all-navbar <%= typeof isHomePage !== 'undefined' && isHomePage ? 'home-transparent' : '' %> fixed-top">
            <!-- :: Navbar -->
            <nav class="nav-bar">
                <div class="container webp-0">
                    <div class="content-box d-flex align-items-center justify-content-between">
                        <div class="logo">
                            <a class='logo-nav' href='/'>
                                <img class="img-fluid one" src="/assets/images/logo/MGV-logo-white.svg" alt="MGV-logo">
                                <img class="img-fluid two" src="/assets/images/logo/MGV-coloured-logo.svg" alt="MGV-logo">
                            </a>
                            <a href="#open-nav-bar-menu" class="open-nav-bar">
                                <span></span>
                                <span></span>
                                <span></span>
                            </a>
                        </div>
                        <div class="nav-bar-links" id="open-nav-bar-menu">
                            <ul class="level-1">
                                <li class="item-level-1">
                                    <a href="/" class="link-level-1 <%= typeof activePage !== 'undefined' && activePage === 'home' ? 'color-active' : '' %>">Home</a>
                                </li>
                                <li class="item-level-1">
                                    <a class='link-level-1 <%= typeof activePage !== "undefined" && activePage === "about" ? "color-active" : "" %>' href='/about'>About</a>
                                </li>
                              
                                    <li class="item-level-1 has-menu">
                                        <a href="/products" class="link-level-1 <%= typeof activePage !== 'undefined' && activePage === 'products' ? 'color-active' : '' %>">Products</a>
                                        <ul class="level-2">
                                            <% if (categories && categories.length > 0) { %>
                                                <% categories.forEach(category => { %>
                                                    <li class="item-level-2"><a class='link-level-2' href="/products?category=<%= category._id %>"><%= category.name %></a></li>
                                                <% }) %>
                                            <% } %>
                                        </ul>
                                    </li>
                                <li class="item-level-1 has-menu">
                                    <a href="/posts" class="link-level-1 <%= typeof activePage !== 'undefined' && (activePage === 'posts' || activePage === 'news' || activePage === 'events' || activePage === 'blogs') ? 'color-active' : '' %>">Posts</a>
                                    <ul class="level-2">
                                        <li class="item-level-2">
                                            <a class='link-level-2' href='posts?type=news'>News</a>
                                        </li>
                                        <li class="item-level-2">
                                            <a class='link-level-2' href='posts?type=event'>Events</a>
                                        </li>
                                        <li class="item-level-2">
                                            <a class='link-level-2' href='posts?type=blog'>Blogs</a>
                                        </li>
                                      
                                    </ul>
                                </li>
                                <li class="item-level-1">
                                    <a class='link-level-1 <%= typeof activePage !== "undefined" && activePage === "gallery" ? "color-active" : "" %>' href='/gallery'>Gallery</a>
                                </li>
                               
                                <li class="item-level-1">
                                    <a class='link-level-1 <%= typeof activePage !== "undefined" && activePage === "career" ? "color-active" : "" %>' href='/career'>Career</a>
                                </li>
                                <li class="item-level-1">
                                    <a class='link-level-1 <%= typeof activePage !== "undefined" && activePage === "contact" ? "color-active" : "" %>' href='/contact'>Contact</a>
                                </li>
                            </ul>
                        </div>
                        <ul class="nav-bar-tools d-flex align-items-center justify-content-between">
                            
                            <li class="item phone">
                                <div class="nav-bar-contact contact-flip-wrapper">
                                    <!-- Country Flag (Flips) -->
                                    <div class="flag-flip-container" style="display: none;">
                                        <div class="flag-item active">
                                            <img src="https://flagcdn.com/in.svg" alt="India" class="country-flag">
                                        </div>
                                        <div class="flag-item">
                                            <img src="https://flagcdn.com/ae.svg" alt="UAE" class="country-flag">
                                        </div>
                                    </div>
                                    
                       
                                    
                                    <!-- Phone Icon -->
                                    <i class="ar-icons-phone"></i>
                                    
                                    <!-- Contact Info (Flips) -->
                                    <div class="content-box phone-flip-container">
                                        <div class="phone-flip-wrapper">
                                            <div class="phone-item active">
                                                <span>India</span>
                                                <a href="tel:+919039266159">+91 90392 66159</a>
                                            </div>
                                            <div class="phone-item">
                                                <span>Dubai</span>
                                                <a href="tel:+971501560131">+971 50 156 0131</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            
                            <style>
                                .contact-flip-wrapper {
                                    display: flex;
                                    align-items: center;
                                 width: 225px;
                                    gap: 12px;
                                }
                                
                                /* Flag Flip Animation */
                                .flag-flip-container {
                                    position: relative;
                                    width: 40px;
                                    height: 30px;
                                    overflow: hidden;
                                    border-radius: 1px;
                                }
                                
                                .flag-item {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                    opacity: 0;
                                    transform: scale(0.5) rotate(180deg);
                                    transition: opacity 0.5s ease, transform 0.5s ease;
                                }
                                
                                .flag-item.active {
                                    opacity: 1;
                                    transform: scale(1) rotate(0deg);
                                    position: relative;
                                }
                                
                                .flag-item.exiting {
                                    opacity: 0;
                                    transform: scale(0.5) rotate(-180deg);
                                }
                                
                                .country-flag {
                                    width: 40px;
                                    height: 100%;
                                    object-fit: cover;
                                    border-radius: 4px;
                                }
                                
                                /* Separator */
                                .contact-flip-wrapper .separator {
                                    width: 1px;
                                    height: 30px;
                                    background-color: rgba(255, 255, 255, 0.3);
                                    display: block;
                                }
                                
                                /* Phone Icon */
                                .contact-flip-wrapper .ar-icons-phone {
                                    font-size: 24px;
                                }
                                
                                /* Phone Number Flip Animation */
                                .phone-flip-container {
                                    position: relative;
                                    height: 40px;
                                    overflow: hidden;
                                    padding-left: 0 !important;
                                }
                                
                                .phone-flip-wrapper {
                                    position: relative;
                                }
                                
                                .phone-item {
                                    opacity: 0;
                                    transform: translateY(20px);
                                    transition: opacity 0.5s ease, transform 0.5s ease;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                }
                                
                                .phone-item.active {
                                    opacity: 1;
                                    transform: translateY(0);
                                    position: relative;
                                }
                                
                                .phone-item.exiting {
                                    opacity: 0;
                                    transform: translateY(-20px);
                                }
                                
                                .phone-item a {
                                    pointer-events: auto;
                                    cursor: pointer;
                                    text-decoration: none;
                                }
                                
                                .phone-item a:hover {
                                    text-decoration: underline;
                                }
                            </style>
                            
                            <script>
                                (function() {
                                    const phoneItems = document.querySelectorAll('.phone-item');
                                    const flagItems = document.querySelectorAll('.flag-item');
                                    let currentIndex = 0;
                                    
                                    function flipContact() {
                                        const currentPhone = phoneItems[currentIndex];
                                        const currentFlag = flagItems[currentIndex];
                                        const nextIndex = (currentIndex + 1) % phoneItems.length;
                                        const nextPhone = phoneItems[nextIndex];
                                        const nextFlag = flagItems[nextIndex];
                                        
                                        // Exit current (both phone and flag)
                                        currentPhone.classList.add('exiting');
                                        currentFlag.classList.add('exiting');
                                        
                                        setTimeout(() => {
                                            currentPhone.classList.remove('active', 'exiting');
                                            currentFlag.classList.remove('active', 'exiting');
                                            
                                            // Enter next (both phone and flag)
                                            nextPhone.classList.add('active');
                                            nextFlag.classList.add('active');
                                            currentIndex = nextIndex;
                                        }, 500);
                                    }
                                    
                                    // Flip every 3 seconds
                                    setInterval(flipContact, 3000);
                                })();
                            </script>
                            <li class="item">
                                <span class="menu-icon open"><i class="fas fa-list"></i></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        
     
        
        <!-- :: Menu Box -->
        <div class="menu-box">
            <div class="inner-menu">
                <div class="website-info">
                    <a class='logo' href='/'><img class="img-fluid" src="/assets/images/logo/MGV-coloured-logo.svg" alt="MGV Logo"></a>
                    <p>Leading industrial and construction solutions provider in UAE & India. Supplying oil & gas equipment, building materials, electricals, and more.</p>
                </div>
                <div class="contact-info">
                    <h4>Dubai</h4>
                    <div class="contact-box">
                        <div class="box" style="padding-left: 0;">
                            <p><a target="_blank" href="https://www.google.com/maps/place/RAKEZ+Al+Hulaila+Industrial+Zone/@25.929254,56.052901,3699m/data=!3m1!1e3!4m6!3m5!1s0x3ef6656d56c8fdc3:0xce5e9421d77c4fd5!8m2!3d25.9292537!4d56.0529013!16s%2Fg%2F11hckbg49r?hl=en&entry=ttu&g_ep=EgoyMDI1MTAyMi4wIKXMDSoASAFQAw%3D%3D">VUNE 1327 Compass Building Al-hulaila, ALHulaila Industrial Zone-fz, Ras Al Khaimah, United Arab Emirates</a></p>
                            <a class="phone" href="tel:+971501560131">+971 50 156 0131</a>
                            <a class="mail" href="mailto:Zahabia@mgvdubai.com">Zahabia@mgvdubai.com</a>
                        </div>
                    </div>
                    <h4>India</h4>
                    <div class="contact-box">
                        <div class="box" style="padding-left: 0;">
                            <p><a target="_blank" href="https://www.google.com/maps/place/Magic+paints,+Rawabhata,+Industrial+Area,+Bhanpuri,+Raipur,+Chhattisgarh+493221/@21.3174099,81.6393862,958m/data=!3m2!1e3!4b1!4m6!3m5!1s0x3a28e6fe51f4649f:0x3820cb9be899e419!8m2!3d21.31741!4d81.6442518!16s%2Fg%2F11kzz8yhkg?entry=ttu&g_ep=EgoyMDI1MTAyMi4wIKXMDSoASAFQAw%3D%3D">Plot No 12, Rawabhata industrial Area, Raipur 493221, Chhattisgarh</a></p>
                            <a class="phone" href="tel:+919039266159">+91 90392 66159</a>
                            <a class="mail" href="mailto:shoeb@mgvdubai.com">shoeb@mgvdubai.com</a>
                        </div>
                    </div>
                </div>
                <div class="follow-us">
                    <h4>Follow Us</h4>
                    <ul class="icon-follow">
                        <li><a href="#" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#" aria-label="Twitter"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#" aria-label="Instagram"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a></li>
                    </ul>
                </div>
                <span class="menu-box-icon exit"><i class="fas fa-times"></i></span>
            </div>
        </div>